src/nn_detector/models/* filter=lfs diff=lfs merge=lfs -text
src/rm_radar_pipeline/models/*.pt filter=lfs diff=lfs merge=lfs -text
src/rm_radar_pipeline/models/*.onnx filter=lfs diff=lfs merge=lfs -text
